tensorboard==2.15.0
tensorboard-data-server==0.7.2
tensorboard_plugin_profile==2.15.1
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.36.0
keras==2.15.0
plantcv==4.2.1
numpy==1.26.4
opencv-python==4.9.0.80